@model SistemaAC.Models.Curso

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Curso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Creditos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Creditos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Horas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Horas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Costo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Costo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categoria.CategoriaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CursoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
